{{#d-modal-body}}
  <form class="form-horizontal webinar-builder">
    <div class="options">
      <div class="input-group">
        <label class="input-group-label">{{i18n 'zoom.webinar_builder.webinar_id'}}</label>
          {{input type='text'
                  value=webinarIdInput
                  valueAttribute="value"
                  class="webinar-builder-id"}}
      </div>
    </div>
    <div class="d-editor-preview webinar-preview">
      {{webinar preview=true webinarId=webinarId composer=model}}
    </div>
  </form>
  <div class="modal-footer">
    {{d-button action=(action "renderPreview") class='btn-primary' label='zoom.webinar_builder.create' disabled=disabled}}
  </div>
{{/d-modal-body}}
