.webinar-banner {
  max-width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2));
  background: $primary-very-low;
  border: 1px solid $primary-low;
  padding: 10px 20px;
  margin-bottom: 20px;
}
