.webinar-banner {
  max-width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2));
  background: $primary-very-low;
  border: 1px solid $primary-low;
  padding: 20px;
  margin-bottom: 20px;
}

.webinar-header {
  display: flex;
  justify-content: space-between;
  .countdown {
    display: flex;
    max-height: 75px;
    .pill {
      background: white;
      border: 1px solid $primary-low;
      margin-left: 10px;
      padding: 8px;
      border-radius: 5px;
      text-align: center;
      font-size: $font-up-3;
      > div {
        font-size: $font-down-4;
      }
    }
  }
}
