.host {
  margin: 15px 0 5px 0;
}

.host-container {
  margin-bottom: 15px;
  display: flex;
}

.host-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.webinar-title {
  font-size: $font-up-4;
  font-weight: bold;
  margin-bottom: 10px;
}

.panelists {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.panelist-avatars {
  margin-left: 10px;
}

.occurrance-start-time,
.host-name,
.host,
.panelists {
  font-size: $base-font-size-larger;
}

.group-name {
  font-size: $base-font-size;
}
