{{#if model.zoomWebinarId}}
  <div class="composer-webinar">
    <span class="webinar-label">Webinar - </span><span class="webinar-title">{{model.zoomWebinarAttributes.title}}</span>
    {{d-button action=(action "removeWebinar") class="remove-webinar btn-danger" label="zoom.remove"}}
  </div>
{{/if}}
