<div class='webinar-title'>{{details.title}}</div>
<div class='occurrance-start-time'>{{details.start_time}}</div>


{{#if details.host_id}}
  <label class='host'>Hosted by</label>
  <div class='host-name'>{{details.host_id}}</div>
{{/if}}