{{#if registered}}
  <div class="webinar-registered">
    {{d-button class="webinar-registered-button" label="zoom.registered" icon="far-check-circle"}}
  </div>
{{else}}
  {{#if userCanRegister}}
    {{d-button action=(action "register") class="webinar-register-button btn-primary" label="zoom.register" disabled=loading}}
  {{/if}}
{{/if}}
