<div class="webinar-option">
  <a href class="webinar-topic" {{action "selectWebinar"}}>
    {{this.model.topic}}
  </a>

  <div class="webinar-schedule">
    {{this.schedule}}
  </div>

  <div class="webinar-id">
    ID:
    {{this.model.id}}
  </div>
</div>