<div class="webinar-option">
  <a href class="webinar-topic" {{action "selectWebinar"}}>
    {{model.topic}}
  </a>

  <div class="webinar-schedule">
    {{schedule}}
  </div>

  <div class="webinar-id">
    ID:
    {{model.id}}
  </div>
</div>