<script src="/plugins/discourse-zoom/react.min.js"></script>
<script src="/plugins/discourse-zoom/react-dom.min.js"></script>
<script src="/plugins/discourse-zoom/redux.min.js"></script>
<script src="/plugins/discourse-zoom/redux-thunk.min.js"></script>
<script src="/plugins/discourse-zoom/jquery.min.js"></script>
<script src="/plugins/discourse-zoom/lodash.min.js"></script>

<script src="/plugins/discourse-zoom/zoom-meeting-1.7.0.min.js"></script>
<script src="/plugins/discourse-zoom/init-zoom.js"></script>

<div id="join_meeting"></div>
