<script src="/plugins/discourse-zoom/react.min.js"></script>
<script src="/plugins/discourse-zoom/react-dom.min.js"></script>
<script src="/plugins/discourse-zoom/redux.min.js"></script>
<script src="/plugins/discourse-zoom/redux-thunk.min.js"></script>
<script src="/plugins/discourse-zoom/jquery.min.js"></script>
<script src="/plugins/discourse-zoom/lodash.min.js"></script>

<script src="/plugins/discourse-zoom/zoom-meeting-1.7.0.min.js"></script>
<script src="/plugins/discourse-zoom/init-zoom.js"></script>

<div id="join_meeting"></div>

<style type="text/css">
  .q-a-input-box__input-area {
    padding: 0px;
    font-size: 16px;
  }

  #chat-textarea {
    font-size: 16px;
    width: calc(100% - 20px);
  }
  .q-a-container {
    word-break: break-word;
  }

  .meeting-app .main-layout {
    padding-top: env(safe-area-inset-top);
  }
  /* Zoom styling overrides for mobile */
  @media screen and (max-width: 680px),
  (max-width: 812px) and (orientation: landscape) {
    .footer {
      margin-bottom: env(safe-area-inset-bottom);
    }

    button#moreButton {
      display: none;
    }

    .more-button .btn-group {
      margin-top: 5px;
    }

    ul.more-button__pop-menu.dropdown-menu {
      display: block;
      margin-left: 5px;
      background-color: transparent;
      box-shadow: none;
      text-align: right;
      width: auto;
    }

    ul.more-button__pop-menu.dropdown-menu li {
      display: inline-block;
    }

    ul.more-button__pop-menu.dropdown-menu div.common-ui-component__dropdown-divider {
      display: none;
    }

    ul.more-button__pop-menu.dropdown-menu > li > a {
      padding-left: 6px;
      padding-right: 6px;
    }

    .diaout-layer {
      max-width: 100%;
    }

    #dialog-join .tab {
      min-width: 160px;
      font-size: 16px;
    }

    #dialog-join .close {
    }

    div[aria-label="Question and Answer"] > .common-window {
      transform: scale(0.75) translate(0px, 0px) !important;
    }

    div[aria-label="Zoom Group Chat"] > .common-window {
      transform: scale(0.85) translate(0px, 0px) !important;
    }

    .zm-modal {
      transform: scale(0.75);
    }

    .full-screen-widget {
      display: none !important;
    }
  }

  /* Landscape mobile only overrides */
  @media screen and (max-width: 812px) and (orientation: landscape) {
    .diaout-layer {
      transform: scale(0.75);
    }

    div[aria-label="Question and Answer"] {
      transform: translate(-50%, -50%) !important;
    }

    .q-a-welcome {
      height: 240px;
    }

    .chat-scrollbar,
    .chat-scrollbar .ReactVirtualized__List {
      height: 185px !important;
    }

    #wc-container .attendee-content {
      width: 100%;
    }
  }
</style>
