.webinar-banner {
  max-width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2));
  background: var(--primary-very-low, $primary-very-low);
  border: 1px solid var(--primary-low, $primary-low);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  .edit-panelists {
    color: var(--primary, $primary);
  }
}

.webinar-header {
  margin-bottom: 1em;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    .webinar-title-section {
      align-self: center;
    }
  }
  .countdown-label {
    @media screen and (min-width: 768px) {
      text-align: center;
      padding-bottom: 0.5em;
    }
  }

  @media screen and (max-width: 767px) {
    .countdown-wrapper {
      margin: 1em 0;
    }
  }
  .countdown {
    display: flex;
    max-height: 75px;
    .pill {
      background: white;
      border: 1px solid var(--primary-low, $primary-low);
      margin: 0px 5px;
      padding: 8px;
      border-radius: 5px;
      text-align: center;
      font-size: $font-up-3;
      > div {
        font-size: $font-down-4;
      }
    }
  }
}

.webinar-content {
  .webinar-title {
    font-size: $font-up-4;
    font-weight: bold;
  }

  h3 {
    margin-top: 0.5em;
    color: var(--primary, $primary);
  }

  .host {
    margin-top: 1em;
  }

  .host-container {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    display: flex;
  }

  .host-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5em;
  }

  .panelists,
  .attendees {
    margin: 1em 0em;
    display: flex;
    align-items: center;
  }

  .panelist-avatars,
  .attendee-avatars {
    margin-left: 10px;
  }

  .occurrance-start-time,
  .host-name,
  .host,
  .panelists {
    font-size: $base-font-size-larger;
  }

  .group-name {
    font-size: $base-font-size;
  }

  .event-ended {
    .video-recording {
      padding-top: 2em;
      video {
        width: 100%;
      }
    }
  }
}

.webinar-registered {
  margin-top: 1em;
  span.registered {
    display: inline-block;
    background: var(--secondary, $secondary);
    border: 1px solid var(--primary-low, $primary-low);
    padding: 5px 15px;
    border-radius: 5px;
  }
}

.webinar-footnote {
  text-align: center;
  margin-top: 1.5em;
  font-size: $font-down-2;
}
