.webinar-picker-webinars,
.webinar-preview-input-group {
  .webinar-option {
    padding: 10px 5px;
    border-bottom: 1px solid var(--primary-low);

    .webinar-topic {
      font-size: $font-up-1;
    }

    .webinar-schedule,
    .webinar-id {
      color: var(--primary-medium);
    }
  }
}

.webinar-preview {
  margin: 20px;
  min-height: 250px;
  min-width: 280px;
}

.toggle-webinar-modal {
  margin-bottom: 7px;
}

.webinar-picker-add-past {
  padding: 1em 0px;
  text-align: right;
}

.webinar-past-start-date {
  padding-bottom: 1em;
}

.webinar-picker-webinars {
  max-height: 300px;
  overflow: auto;
}

.webinar-picker-input {
  text-align: center;

  label {
    display: flex;
    flex-direction: column;
    font-size: var(--font-0);

    span {
      margin-bottom: .5rem;
    }
  }
}

.webinar-picker-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
