.composer-webinar {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  .webinar-label {
    color: $primary-medium;
  }

  .webinar-title {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 10px;
  }
  .cancel {
    order: 2;
    margin-left: 10px;
  }
}

.webinar-banner {
  .edit-panelists {
    color: $primary;
  }
}

#edit-webinar-modal {

  .webinar-panelist {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding: 3px 0;
  }

  .new-panelist-input,
  .new-panelist-btn {
    display: inline-block;
    vertical-align: middle;
  }
}
