.composer-webinar {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  .webinar-label {
    color: $primary-medium;
  }

  .webinar-title {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 10px;
  }
  .cancel {
    order: 2;
    margin-left: 10px;
  }
}
